<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Panacea - Predict, Preserve, Provide</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    </head>
    <body>
        <div class="container">
            <div class="sidebar">
                <p><strong>PANACEA</strong></p>
                <button onclick="window.location.href='/'"><i class="fa-solid fa-house"></i>&nbsp;HOME</button>
                <button onclick="window.location.href='/predict'"><i class="fa-solid fa-arrow-trend-up"></i>&nbsp;PREDICT</button>
                <button onclick="window.location.href='/preserve'"><i class="fa-solid fa-jar"></i>&nbsp;PRESERVE</button>
                <button onclick="window.location.href='/provide'"><i class="fa-solid fa-handshake"></i>&nbsp;PROVIDE</button>
                <button onclick="window.location.href='/recipes'"><i class="fa-solid fa-list"></i>&nbsp;RECIPES</button>
                <button onclick="window.location.href='/devices'"><i class="fa-solid fa-mobile"></i>&nbsp;DEVICES</button>
                <button onclick="window.location.href='/notifications'"><i class="fa-solid fa-bell"></i>&nbsp;NOTIFICATIONS</button>
            </div>
            <div class="navbar">
                <img src="{{url_for('static', filename='assets/logo.png')}}" alt="panacea logo" height="100" width="100">
                <a class="log-out" id="log-out">LOG OUT</a>
            </div>
            <div class="content">
                <div class="desc-content">
                    <div class="non-img-desc">
                        <div class="desc">
                            <strong style="font-size: 50px;">Predict</strong>
                            <p style="font-size: 30px;">Tackling Root Causes</p>
                        </div>
                        <br>
                        <div class="save-food">
                            <span style="font-size: 32px;">Predicted Food Demand This Day</span>
                            <p style="font-size: 24px;">Amount: <span style="color: #186918;" id="predicted-week-food"></span><span style="color: #186918;"></span></p>
                        </div>
                        <br>
                        <div class="recipe">
                            <span style="font-size: 32px;">Household Info</span>
                            <p style="font-size: 24px;">Family Members: <span style="color: #186918;" id="total-fam-members">4</span>&nbsp;<a id="change-fam-members" style="color: #643f07ff;">[ CHANGE ]</a></p>
                            <p style="font-size: 24px;">Average Food per Person: <span id="avg-food-person" style="color: #186918;"></span><span style="color: #186918;"> grams</span></p>
                        </div>
                    </div>
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <div class="food-details">
                        <div class="img-food-details" style="width: 440px; height: 560px;">
                            <img src="{{url_for('static', filename='assets/predict-pic.jpg')}}" alt="food image" width="440" height="560">
                        </div>
                        <br>
                        <button id="today-food-details"><i class="fa-solid fa-book"></i>&nbsp;Enter Today's Food Details</button>
                    </div>
                </div>
                <br>
                <div>
                    <div style="display: flex; flex-direction: row;">
                        <div class="demand-factors">
                            <div style="font-size: 32px;">Demand Factors</div>
                            <table>
                                <tr>
                                    <th>Factor</th>
                                    <th>Amount</th>
                                </tr>
                                <tr>
                                    <td style="padding-right: 45px;">Event</td>
                                    <td>+2kg</td>
                                </tr>
                                </tr>
                            </table>
                        </div>
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                        <div class="demand-factors" style="width: 800px;">
                            Calorie Requirement
                            <br>
                            <br>
                            <div class="calorie-form" id="calorie-form">
                                <label>Weight (in kg):</label><input type="text" placeholder="Weight..." id="calorie-weight">
                                <br>
                                <label>Height (in cm):</label><input type="text" placeholder="Height..." id="calorie-height">
                                <br>
                                <label>Age:</label><input type="text" placeholder="Age..." id="calorie-age">
                                <br>
                                <label>Gender ('M' for male, 'F' for female):</label><input type="text" placeholder="Gender..." id="calorie-gender">
                                <br>
                                <label style="width: 295px;">Activity Level: </label><select name="activity-level" id="activity-level">
                                    <option value="select-option">----- Please select an option -----</option>
                                    <option value="sedentary">Sedentary (little/no exercise)</option>
                                    <option value="lightly-active">Lightly active (exercise 1-3 days/week)</option>
                                    <option value="moderately-active">Moderately active (exercise 3-5 days/week)</option>
                                    <option value="very-active">Very active (6-7 days/week)</option>
                                    <option value="extra-active">Extra active (very intense activity)</option>
                                </select>
                                <br>
                                <br>
                                <button id="calculate-btn"><i class="fa-solid fa-calculator"></i>&nbsp;Calculate</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="stats">
                    <canvas id="demand-graph">
                        hi
                    </canvas>
                </div>
                <br>
                <div class="stats" style="display: flex; flex-direction: column; align-items: start;">
                    Time that takes to use each food item
                    <table id="time-to-use-item">
                        
                    </table>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{{url_for('static', filename='scripts/predict.js')}}"></script>
    </body>
</html>