<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Certificate Generator for Dunes - Login</title>
        <link rel="stylesheet" href="{{url_for('static', filename='login-styles.css')}}">
    </head>
    <body>
        <div class="container">
            <h2>Register to Panacea!</h2>
            <input id="name" type="text" name="name" placeholder="Name" required>
            <input id="age" type="number" min="1" max="100" step="1" name="age" placeholder="Age" required>
            <input id="loginid" type="text" name="loginid" placeholder="Login ID" required>
            <input id="email" type="email" name="email" placeholder="Email" required>
            <input id="password" type="password" name="password" placeholder="Password" required>
            <input id="confirm-password" type="password" name="password" placeholder="Confirm Password" required>
            <button type="submit" id="submit">Register</button>
            <br>
            Already have an account? <a href="/login">Login Now!</a>
        </div>
        <script src="{{url_for('static', filename='scripts/register.js')}}"></script>
    </body>
</html>